<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HackTheNorth</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
</head>

<body>

  <div class="full-container">
  <div class="container">
    <div class="img">
      <img src="{{ url_for('static',filename='images/funky-town-annotated.gif') }}" alt="hackthenorth">
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        </div>
    </div>
  </div>
</div>
</div>

</body>
</html>
